@using PIA.Entities
@model Publicaciones
@{
    ViewBag.Title = "Detalle " + Model.Titulo;
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
    int counter = 0;
    var ubicacion = Model.Propiedades.Ubicaciones.FirstOrDefault();
}

<link rel="stylesheet" href="~/Content/DetallePropiedad.css" />

<div class="page-head" style="height: auto !important; margin-bottom: 30px;">
    <div class="container">
        <h1>@Model.Titulo</h1>
        <p>@ubicacion.Calle, @ubicacion.Colonia @ubicacion.Municipios.Nombre, @ubicacion.Municipios.Estados.Nombre </p>
    </div>
</div>

<div class="container" id="property">
    <div class="property-details">
        <div class="property-gallery" >
            <div class="carousel slide" id="property-gallery" data-ride="carousel">
                <ol class="carousel-indicators">
                    @foreach(var li in Model.Propiedades.ImagenesPropiedad)
                    {
                        <li data-target="#property-gallery" data-slide-to="@counter"></li>
                        counter++;
                    }
                </ol>
                <div class="carousel-inner" role="listbox">
                    @foreach(var image in Model.Propiedades.ImagenesPropiedad)
                    {
                        <div class="item">
                            <img src="@image.Src" alt="" />
                        </div>
                    }
                </div>
                <a class="left carousel-control" href="#property-gallery" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                </a>
                <a class="right carousel-control" href="#property-gallery" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                </a>
            </div>
        </div>
        <div class="property-chars">
            <div class="property-header">
                <h3 class="property-price">@Model.Precio.ToString("C2") @Model.Moneda</h3>
                <div class="property-op">@Model.Propiedades.TiposInmueble.Descripcion</div>
            </div>
            <div class="property-char-list">
                @foreach (var item in Model.Propiedades.CaracteristicasPropiedad)
                {
                    <div class="property-char">
                        <div class="property-char-key">@item.Caracteristicas.Descripcion</div>
                        <div class="property-char-value">@item.Valor</div>
                    </div>
                }
            </div>
            <div class="property-description">
                <p>@Model.Descripcion</p>
            </div>
        </div>
        <div class="property-location">
            <div id="map"></div>
        </div>
    </div>
    <div class="property-contact">
        <h4 class="contact-title">Pedir Informes</h4>
        <p class="contact-subtitle">Llámanos o deja tu información</p>
        <form action="/" method="post">
            <div class="form-group">
                <label class="control-label">Nombre</label>
                <input type="text" class="form-control input-sm" required />
            </div>
            <div class="form-group">
                <label class="control-label">Correo Electrónico</label>
                <input type="email" name="email" required class="form-control input-sm" />
            </div>
            <div class="form-group">
                <label class="control-label">Teléfono</label>
                <input type="tel" name="tel" class="form-control input-sm" />
            </div>
            <div class="form-group">
                <label class="control-label">Mensaje</label>
                <textarea class="form-control input-sm" rows="2" name="message"></textarea>
            </div>
            <div class="help-block">Al hacer clic en Enviar, estás aceptando nuestros Terminos y Condiciones</div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block">Enviar</button>
            </div>
        </form>
    </div>
</div>

<script>
    function initMap() {
        var mapElement = document.getElementById("map");
        var location = { lat: @ubicacion.Latitud, lng: @ubicacion.Longitud, };
        var map = new google.maps.Map(mapElement, {
            center: location,
            zoom: 16
        });

        var marker = new google.maps.Marker({
            position: location,
            map: map,
            title: '@Model.Titulo'
        });
    }
    $(document).ready(function() {
        $(".carousel-indicators").children().first().addClass("active");
        $(".carousel-inner").children().first().addClass("active");
    });
</script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAbQdGSuyDBFobghsn1rMOl0PuzjJZ7xpU&callback=initMap">
</script>