@using PIA.Entities;
@model List<Publicaciones>
@{
    ViewBag.Title = "Propiedades";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

<link href="~/Content/Propiedades.css" rel="stylesheet" />

<div class="container-fluid page-head" style="background-image: url('../../Images/banner-2.jpg');">
    <div class="title container">
        <h1>Propiedades</h1>
    </div>
</div>

<div class="container">
    @foreach (var item in Model)
    {
        var image = item.Propiedades.ImagenesPropiedad.FirstOrDefault(x => x.Thumbnail) != null ? item.Propiedades.ImagenesPropiedad.FirstOrDefault(x => x.Thumbnail).Src : "http://res.cloudinary.com/alvapag/image/upload/v1493488178/PIA/propiedad-thumbnail_rlpxtc.jpg";
        <div class="property-th" data-id-publicacion="@item.IdPublicacion">
            <div class="thumbnail">
                <div class="property-image" style="background-image: url('@image')">
                    <label class="property-op">@item.Operaciones.Descripcion</label>
                    <label class="property-type">@item.Propiedades.TiposInmueble.Descripcion</label>
                </div>
                <div class="caption">
                    <div class="property-details-head clearfix">
                        <div class="property-titles">
                            <h5 class="property-title truncate">@item.Titulo</h5>
                            <p class="property-subtitle truncate">@item.Propiedades.Ubicaciones.FirstOrDefault().Municipios.Nombre, @item.Propiedades.Ubicaciones.FirstOrDefault().Municipios.Estados.Nombre</p>
                        </div>
                        
                    </div>
                    @if(item.Propiedades.CaracteristicasPropiedad != null && item.Propiedades.CaracteristicasPropiedad.Count > 0)
                    {
                        <div class="propertye-details-extras">
                            <label class="property-char property-rooms">@item.Propiedades.CaracteristicasPropiedad.FirstOrDefault(x => x.IdCaracteristica == 4).Valor </label>
                            <label class="property-char property-baths">@item.Propiedades.CaracteristicasPropiedad.FirstOrDefault(x => x.IdCaracteristica == 3).Valor</label>
                            <label class="property-char property-cars">@item.Propiedades.CaracteristicasPropiedad.FirstOrDefault(x => x.IdCaracteristica == 2).Valor</label>
                        </div>
                    }
                    <div class="property-price">
                        <h4 class="price truncate">@item.Precio.ToString("C2") @item.Moneda</h4>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

<script src="~/Scripts/propertyItem.js"></script>